<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label>
      Title:
      <input name="title" #newtitle>
      <!--
        #newtitle - template variable
        This markup tells Angular to bind this <input> to the variable newtitle
      -->
    </label>
  </div>

  <div class="field">
    <label>
      Link:
      <input name="link" #newlink>
      <!--
        #newlink - template variable
        This markup tells Angular to bind this <input> to the variable newlink
       -->
    </label>
  </div>

  <!-- added this button -->
  <button
    (click)="addArticle(newtitle, newlink)"
    class="ui positive right floated button">
    Submit link
  </button>

</form>

<div class="ui grid posts">
  <app-article></app-article>
</div>
